// This are the most used variables across theme.
$RADIUS_BASE: 25px;
$COLOR_PRIMARY: $COLOR_PRIMARY_ORANGE;
$COLOR_SECONDARY: $COLOR_PRIMARY_BEIGE;
$COLOR_ERROR: $COLOR_BASE_RED;
$BODY_BG: $COLOR_ESSENTIAL_WHITE;
$BODY_TEXT: $COLOR_ESSENTIAL_BLACK;
$WHITE: $COLOR_ESSENTIAL_WHITE;
$BLACK: $COLOR_ESSENTIAL_BLACK;
$BG_DARK: $COLOR_PRIMARY_WHITE;
$BG_BLACK: $COLOR_ESSENTIAL_BLUE;
$ACCORDION_BG: #141415;
$HEADER_BG: #161617;
